@font-face { 
    font-family: "Apercu"; 
    src: url('Apercu\ Pro\ Regular.otf');
} 
@font-face { 
    font-family: "Apercu"; 
    font-weight: bold; 
    src: url('Apercu\ Pro\ Bold.otf');
}
@font-face { 
    font-family: "Apercu"; 
    font-weight: light; 
    src: url('Apercu\ Pro\ Light.otf');
}

/* Hi! I’m Megan Lee and I am a designer & developer */

body {
    /* height: 100px;
    width: 100px; */
    display: block;
    margin: 0px;
    /* margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 8px; */
    background-color: #FEDFDF;

}

#introduction{
    font-family: Poppins;
}

.toplinks{
    display: flex;
    justify-content: space-between;
    width:180px;
    position: fixed;
    top: 10px;
    right: 100px;
    z-index: 999999;
    font-family: Apercu;
    
    font-size: 20px;
    line-height: 41px;
    /* padding-right: 10px; */
}

.toplinks a{
    text-decoration: none;
    color: black;
}

.toplinks a:hover{
    color: #fff;
}

.description{
    position: absolute;
    width: 830px;
    height: 565px;
    left: 145px;
    top: 200px;

    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;

    color: #000000;
}

.description .typed{
    font-weight: bold;
    color: #0C2584;
}

.description .myname{
    font-weight: bold;
    color: #0C2584;
}

/* Rectangle next to description */
.box{
    position: absolute;
    width: 10px;
    height: 316px;
    left: 103px;
    top: 223px;

    background: #0C2584;
}

/* Me */
.mephoto{
    position: absolute;
    z-index: 1000;
    width: 600px;
    right: 4%;
    top: 0px;
}

.meblob{
    position: absolute;
    width: 600px;
    right: 4%;
    top: 0px;
}

/* pinkblobs 1 */
.medots{
    position: absolute;
    width: 350px;
    right: 20%;
    top: 100px;
}

.desktopEllipse2{
    position: absolute;
    /* left: 5.28%;
    right: 93.3%;
    top: 1.54%;
    bottom: 96.27%; */

    background: #F2C94C;
}

.desktopEllipse3{
    position: absolute;
    left: 5.28%;
    right: 93.3%;
    top: 1.54%;
    bottom: 96.27%;

    background: #6FCF97;
}







